<div class="container py-5">
  <h2 class="text-center font-cambo font-bold"> CÁC KHOÁ HỌC SẮP TỚI </h2>
</div>
<div class="card-group d-flex justify-content-between">
  <div class="card col-md-3">
    <img class="card-img-top image-size mx-auto mt-5" src="http://techkids.vn/photos/teen_1512113627036.png">
    <div class="card-body">
      <h5 class="card-title font-oswald text-center font-bold">Code for Teen</h5>
      <p class="card-text">Khóa học lập trình cho thiếu niên (15-18 tuổi). Cơ hội để bạn thử - để biết về công nghệ - và tự quyết định tương lai của chính mình bằng cách lựa chọn định hướng phù hợp</p>
      <a href="#" class="text-light btn btn-info hvr-float-shadow justify-content-center d-flex"> Tìm hiểu kĩ hơn </a>
    </div>
  </div>
  <div class="card col-md-3">
    <img class="card-img-top image-size mx-auto mt-5" src="http://techkids.vn/photos/java_1498988796971.png">
    <div class="card-body">
      <h5 class="card-title font-oswald text-center font-bold">Code Intensive</h5>
      <p class="card-text">Nâng cao trình code Java - OOP và học cách làm ra một sản phẩm hoàn thiện, từ đó đi chắc, tiến xa trong nghề</p>
      <br>
      <br>
      <a href="#" class="text-light btn btn-info hvr-float-shadow justify-content-center d-flex"> Tìm hiểu kĩ hơn </a>
    </div>
  </div>
  <div class="card col-md-3">
    <img class="card-img-top image-size mx-auto mt-5" src="http://techkids.vn:6699/photos/python2_1490387399834.png">
    <div class="card-body">
      <h5 class="card-title font-oswald text-center font-bold">Code for Everyone</h5>
      <p class="card-text">Bước chân vào nghề lập trình dù bạn mới bắt đầu hay là dân kinh tế, tài chính hay kế toán và làm được sản phẩm đầu tiên chỉ sau 2 tháng học tập</p>
      <br>
      <a href="#" class="text-light btn btn-info hvr-float-shadow justify-content-center d-flex"> Tìm hiểu kĩ hơn </a>
    </div>
  </div>
</div>
