<div class="container py-5">
  <h2 class="text-center font-cambo font-bold"> Chào mừng đến với Techkids! </h2>
  <h5 class="text-center my-5 font-sans"> "Techkids Coding School là trường học lập trình
    <br>
Nhưng hơn thế nữa, đây là một cộng đồng toàn cầu của những người sẵn sàng trở thành những người giỏi nhất, khác biệt nhất trong thế giới Công nghệ. Ở đó chúng ta cùng nhau tìm định hướng, học hỏi hết mình, khơi dậy những ước mơ, cố gắng không ngừng và đồng hành với nhau trên hành trình chinh phục Công nghệ cao để thay đổi thế giới!

Nếu bạn đang tìm kiếm một sự thay đổi, nếu bạn đang mong muốn trở nên xuất sắc hơn
Đừng sợ hãi, bạn không bao giờ phải đứng một mình!
Hãy đến đây, mở rộng tầm nhìn của mình, chúng ta sẽ thấy một thế giới khác!"

<br>


 </h5>
  <h5 class="text-center my-5 font-cambo"> Địa chỉ: Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội

  <br>

  Email: Techkidsvn@gmail.com </h5>
