<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Chi tiết trung tâm </title>
    {% include 'meta-data.html' %}
  </head>
  <body>
    <div class="san-pham">
      <div id="dong-san-pham-box">
        <h1> Details </h1>
        <div class="dong-san-pham">
          <div class="images-dong-san-pham bg-1">
            <img src="../static/image/techkids-coding-school-5839bff44088b.jpg">
            <a href="#">
              <span class="hvr-float-shadow text"> More </span>
            </a>
          </div>
          <div class="images-dong-san-pham">
            <img src="../static/image/logo-ILA-6eca1.jpg">
            <a href="#">
              <span class="hvr-float-shadow"> More </span>
            </a>
          </div>
          <div class="images-dong-san-pham">
            <img src="../static/image/trung-tam-anh-ngu-apollo-cs-phan-van-tri-0-hkWk5b.jpg">
            <a href="#">
              <span class="hvr-float-shadow"> More </span>
            </a>
          </div>
          <div class="images-dong-san-pham">
            <img src="../static/image/ve-logo-trung-tam-tieng-nhat-akira-education.jpg" alt="">
            <a href="#">
              <span class="hvr-float-shadow"> More </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% include "meta-data.html" %}
  </body>
</html> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Easy Education </title>
    {% include 'meta-data.html' %}
  </head>
  <body>
    {% include 'homepage/carousel.html' %}
    {% include 'homepage/misson.html' %}
    {% include 'homepage/carddeck.html' %}
  </body>
</html>
